*{
    margin: 0;
    padding: 0;
}
.header{
    color: white;
    width: 1920px;
    height: 100px;
    line-height: 100px;
    background: #168199;
    /* position: fixed; */
    z-index: 1;
    top: 0px;
    box-shadow: 0px 6px 6px rgba(26, 175, 98, 0.25);
}

.main_header{
    width: 1366px;
    /* background: #1e364d; */
    height: 100px;
    line-height: 100px;
    margin: auto;

}
.left_header{
    width: 30%;
    float: left;
    height: 100px;
    /* border: 1px solid red; */
}
.left_header b{
    font-size: 28px;
    margin-left: 20px;
}
.right_header{
    width: 69%;
    float: left;
    height: 100px;
    line-height: 100px;
    
}
.menu{
    margin-left: 150px;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    /* width: 70px; */
    /* border: 1px solid red; */
    height: 50px;
    margin-top: 22px;
    text-align: center;
    line-height: 50px;
    float: left;
    color: white;
    margin-left: 5px;
}
.menu ul li a.a_log{
    color: black;
    background: white;
    border-radius: 10px;
    font-size:18px;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu ul li a{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    width: auto;
    padding: 15px;
    font-size: 18px;
    /* margin: 0px 10px; */
    /* padding: 10px 10px; */
    /* position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 0; */
    cursor: pointer;

}
/* 
.menu ul li a::before,
.menu ul li a::after{
    position: absolute;
    content: "";
    width: 70px;
    height: 2px;
    transition: all 0.3s;
    opacity: 0;
    overflow: hidden;
    background: red;
    left: 0;
    

}
.menu ul li a::before{
    top: 0px;
    transform: translateY(10px);
}
.menu ul li a::after{
    bottom: 0px;
    transform: translateY(-10px);
}
.menu ul li a:hover:before,
.menu ul li a:hover:after{
    opacity: 1;
    transform: translateY(0px);
} */
.banner{
    width: 1920px;
    height: 400px;
    background: #F5F5F5;
    position: relative;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    /* top: 100px; */
}
.main_banner{
    width: 1366px;
    height: 400px;
    margin: auto;
    /* position: relative; */
    
   
}
.left_banner{
    width: 59%;
    float: left;
    height: 400px;

    

}
.right_banner{
    width: 40%;
    float: right;
    height: 400px;

    
}
.smallicon1{
    position: relative;
    top: -250px;
    left: 600px;
    width: 60px;
    height: 60px;
      box-shadow: 0px 6px 6px rgba(26, 175, 98, 0.25);
      background: rgb(255, 255, 255);
      border-radius: 10px;
}
.smallicon2{
    position: relative;
    top: -470px;
    left: -200px;
    width: 60px;
    height: 60px;
      box-shadow: 0px 6px 6px rgba(26, 175, 98, 0.25);
      background: rgb(255, 255, 255);
      border-radius: 10px;
      /* z-index: 10; */
}
.smallicon4{
    position: relative;
    top: -470px;
    left: 750px;
    width: 60px;
    height: 60px;
      box-shadow: 0px 6px 6px rgba(111, 112, 112, 0.25);
      background: rgb(255, 255, 255);
      border-radius: 10px;
      /* z-index: 10; */
}
.smallicon3{
    position: relative;
    top: 70px;
    left: 200px;
    width: 60px;
    height: 60px;
      box-shadow: 0px 6px 6px rgba(26, 175, 98, 0.25);
      background: rgb(156, 0, 229);
      border-radius: 10px;
      /* z-index: 10; */
}
.banner_img{
    width: 600px;
    height: 450px;
    margin-left: -50px;
    margin-top: -35px;

    /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); */
}
.bannerh1{
    position: relative;
    color: black;
    top: 40px;
    font-weight: bold;
    font-size: 35px;
    left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.banner_i{
    position: relative;
    color: #515151;
    top: 50px;
    /* font-weight: bold; */
    font-size: 20px;
    left: 25px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: bold;
    /* font-family: "Hind Siliguri"; */
}
.search{
    position: relative;
    width: 300px;
    height: 45px;
    top: 70px;
    left: 25px;
    border-radius: 5px;
    border: 1px solid rgb(104, 103, 103);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.searchbtn{
    position: relative;
    width: 100px;
    height: 45px;
    border-radius: 5px;
    top: 70px;
    left: 32px;
    /* padding: 20px; */
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
    border: 1px solid #168199;
    color: white;
    background: #168199;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Hind Siliguri', sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.youtube_button{
    width: 145px;
    height: 41px;
    border: 1px solid #168199;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 41px;
    font-size: 16px;
    font-weight: medium bold;
    top: 90px;
    left: 25px;
    background: #168199;
    border-radius: 10px;
    position: relative;
    transition: .5s;
    font-family: 'Hind Siliguri', sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* float: left; */
}
.shop_button{
    width: 100px;
    height: 41px;
    border: 1px solid #168199;

    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 41px;
    font-size: 16px;
    font-weight: medium bold;
    top: 48px;
    left: 180px;
    position: relative;
    background: #168199;
    border-radius: 10px;
    transition: .5s;
    font-family: 'Hind Siliguri', sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.shop_button:hover, .youtube_button:hover, .participate:hover, participate2:hover{
    background: #03203C;
    border-radius: 0px;
    border: 1px solid #03203C;

}
.showallarticle{
    width: 1356px;
    height: 330px;
    /* border: 1px solid red; */
    position: relative;
    top: 0px;
    margin: auto;
  
}
.showarticleleft{
    width: 40%;
    height: 330px;
    float: left;
    /* border: 1px solid rgb(116, 116, 116); */
}
.showarticleright{
   padding-left: 10px;
   width: 59%;
   float: left;
   padding-top: 20px;
}
.showarticleh1{
    color: rgb(47, 47, 47);
    font-family: 'Roboto Slab', serif;
    margin-top: 30px;
    padding-left: 20px;
    
}
.showarticleh4{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
    margin-left: 20px;
    color: rgb(47, 47, 47);

}
.articlediv{
    width: 250px;
    height: 80px;
    /* border: 1px solid red; */
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #0CB3D8;
    border-radius: 5px;
}
.articledivimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 10px;
    float: left;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.articledivtitle{
    font-size: 20px;
    padding-top: 20px;
    height: 60px;
    padding-left: 80px;
    color: white;
    /* padding-bottom: 30px; */
    font-family: 'Hind Siliguri', sans-serif;

}
.quiztitle{
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-family: 'Hind Siliguri', sans-serif;

}
.quizdetailshort{
    margin-left: 30px;
    text-align: justify;
    margin-right: 20px;
    font-family: 'Roboto Slab', serif;

}
.participate{
    width: 100px;
    height: 41px;
    border: 1px solid #D8550C;

    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 41px;
    font-size: 16px;
    font-weight: medium bold;
    top: 48px;
    left: 30px;
    position: relative;
    background: #D8550C;
    border-radius: 10px;
    transition: .5s;
    font-family: 'Hind Siliguri', sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.participate2{
    width: 120px;
    height: 41px;
    border: 1px solid #0CB3D8;

    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 41px;
    font-size: 16px;
    font-weight: medium bold;
    top: 48px;
    left: 30px;
    position: relative;
    background: #0CB3D8;
    border-radius: 10px;
    transition: .5s;
    font-family: 'Hind Siliguri', sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.articledivtitlesee{
    font-size: 20px;
    padding-top: 25px;
    height: 60px;
    padding-left: 50px;
    color: white;
    padding-bottom: 30px;
    font-family: 'Hind Siliguri', sans-serif;
}
.todaysquizsection{
    width: 1356px;
    height: 400px;  
    color: white;
    margin: 0 auto;
    /* float: left; */
    border: 1px solid rgb(198, 198, 198);
    margin-top: 120px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.righttodaysquizsection{
    width: 59%;
    height: 400px;
    float: left;
}
.right_quiz_img{
    width: 815px;
    height: 400px;
}
.lefttodaysquizsection{
    width:40%;
    height: 400px;
    background: #168199;
    float: left;
    /* border-radius: 10px; */

    /* border: 1px solid red;  */
}
.quiztitletop{
    color: rgb(47, 47, 47);
    font-family: 'Roboto Slab', serif;
    margin-left: 90px;
    margin-top: 20px;
    color: white;

}
.summarysection{
    width: 1100px;
    height: 100px;  
    margin: 0 auto;
    /* border: 1px solid red; */
    margin-top: 100px;
}
.a{
    background: #006379;
}
.b{
    background: #0CD88F;
}
.c{
    background: #970CD8;
}
.d{
    background: #D8550C;
}
.sum{
    width: 250px;
    height: 80px;
    /* border: 1px solid red; */
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* background: #0CB3D8; */
    border-radius: 10px;
}
.sumimg{
    margin-top: 10px;
    margin-left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    float: left;
}
.sum_title{
    margin-top: 25px;
    margin-left: 90px;
    color: white;
}
.about_section{
    width: 1356px;
    height: 330px;
    /* border: 1px solid red; */
    position: relative;
    top: -80px;
    margin: auto;
    background: #8D3DAF;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 0 rgb(112, 109, 109);
}
.left_about_section{
    width: 49%;
    float: left;
    height: 330px;
}
.right_about_section{
    width: 50%;
    float: right;
    height: 330px;
}
.about_h1{
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 27px;
}
.about_span{
    position: absolute;
    top: 80px;
    left: 30px;
    color: white;
    width: 49%;
    text-align: justify;
    font-size: 18px;
}
.about_video{
    margin-left: 100px;
    margin-top: 10px;
}
.admin_login_form{
    width: 350px;
    height: 250px;
    margin: 0 auto;
    margin-top: 5%;
    border: 1px solid white;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 0px 7px 0px rgb(129, 123, 123);
}
.admin-login-email{
    width: 250px;
    height: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgb(116, 107, 107);
}
.admin-login-password{
    width: 250px;
    height: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgb(116, 107, 107);

}
.admin_login_h2{
    margin-bottom: 20px;
    margin-left: 100px;
    margin-top: 20px;
}
.admin_login_submit{
    width: 250px;
    height: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
    background: #1595C4;
    border: 1px solid #1595C4;
    color: white;
    border-radius: 5px;

}
::placeholder{
    padding-left: 10px;
}
.show_courses{
    width: 1200px;
    min-height: 850px;
    /* margin-bottom: 50px; */
    /* border: 1px solid red; */
    position: relative;
    top: 0px;
    margin: auto;
    padding-left: 120px;
    overflow: hidden;
    /* margin-bottom: 50px; */
    margin-top: 30px;

    
    /* background: #8D3DAF; */
    
}
.seemorecourse{
    width: 200px;
    height: 41px;
    border: 1px solid #D8550C;

    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 41px;
    font-size: 16px;
    font-weight: medium bold;
    /* top: 800px; */
    left: 1300px;
    position: relative;
    background: #D8550C;
    border-radius: 10px;
    transition: .5s;
    font-family: 'Roboto Slab', serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
}
.show_courses_h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
     text-align: center;
}
.course{
    width: 250px;
    height: 350px;
    padding-bottom: 5px;
    border: 1px solid rgb(113, 113, 113);
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 0 rgb(112, 109, 109);
    float: left;
    /* position: relative; */
    margin-right: 30px;
    
}
.course_banner_img{
    width: 250px;
    height: 150px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

}
.course_title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 220px;
    height: auto;
    /* text-align: center; */
    /* border: 1px solid red; */
   
}
.course_video_count{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:small;
    font-weight:bold;
    margin-top: 10px;
    margin-left: 10px;
    width: 80px;
    /* border: 1px solid red; */
    float: left;
    text-align: center;

}
.course_video_price{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:small;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 130px;
    /* border: 1px solid red; */
    float: left;
    text-align: center;
}
.course_details_button{
    width: 200px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    display: block;
    border: 1px solid red;
    margin-top: 10px;
    background: #02B290;
    border: 1px solid #02B290;
    color: white;
    margin-left: 25px;
    border-radius: 10px;
}
.course_details{
    width: 1920px;
    /* height: 500px; */
    /* border: 1px solid red; */
}
.main_course_details{
    width: 1366px;
    /* height: 300px; */
    /* border: 1px solid red; */
    margin: auto;
}
.aboutquizsection{
    width: 1366px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.aboutyoutubesection{
    width: 1366px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.colorwhite{
    color: white;
}
.leftaboutquizsection{
    width: 900px;
    height: 300px;
    float: left;
    box-shadow: 2px 2px 5px 0 rgb(112, 109, 109);
    background: #168199;
    border-radius: 10px;

}
.leftaboutyoutubesection{
    width: 675px;
    height: 300px;
    float: left;
    box-shadow: 2px 2px 5px 0 rgb(112, 109, 109);
    background: #E6F0F9;
    border-radius: 10px;

}
.rightaboutquizsection{
    width: 460px;
    height: 300px;
    background: #D8550C;
    float: right;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 rgb(112, 109, 109);
}
.rightaboutyoutubesection{
    width: 675px;
    height: 300px;
    background: #F5F5F6;
    float: right;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 rgb(112, 109, 109);
}
.quizdetailshortp{
    margin-left: 30px;
    text-align: justify;
    /* margin-right: 20px;
     */
     width: 400px;
    font-family: 'Roboto Slab', serif;
}

.footer{
    /* margin-top: 50px; */
    color: white;
    width: 1920px;
    height: 100px;
    line-height: 100px;
    background: #03203C;
    position: relative;
    overflow: hidden;
}
.left_course_details{
    width: 900px;
    height: 1000px;
    float: left;
    /* border: 1px solid red; */
}
.right_course_details{
    width: 450px;
     height: 500px;
     /* border: 1px solid red; */
     float: left;
}
.course_details_h1{
    width: 900px;
    height: 100px;
    margin-right: 30px;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top:20px;
    /* border: 1px solid red; */
}
.p_course_details{
    text-align: justify;
    margin-right: 30px;
    margin-bottom: 30px;
}
.left_course_details ul{
    list-style: none;

}
.left_course_details ul li{
    width: 700px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    /* border: 1px solid red; */
}
.left_course_details ul li a{
    display: block;
    text-decoration: none;
    font-size: medium;
    padding-left: 10px;
    border: 1px solid rgb(238, 225, 225);
}
.left_course_details h3{
    margin-bottom: 30px;
}

.articledetails{
    width: 1920px;
    height: auto;
    overflow: hidden;

    background:#EEEEEE;

}
.main{
     width: 1366px;
     position: relative;
     /* height: 1000px; */
     /* background: white; */
     margin: 0 auto;
     background: rgb(239, 232, 232);
     overflow: hidden;
     margin-bottom: 50px;

}
.left_articlesection{
    padding-top: 20px;
    margin-top: 20px;
    border-radius: 10px;
    width: 370px;
    height: auto;
    background: white;
    padding-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* background: rgb(244, 240, 240); */
    /* border: 1px solid red; */
    float: left;
    /* background: rgb(220, 217, 217); */
    overflow: hidden;
    min-height: 920px;
    margin-left: 30px;
    margin-right: 10px;
    
}
.left_articlesection h2{
    /* margin-bottom: 30px; */
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(163, 158, 158);
    border-top: 4px solid #168199;
    border-bottom: 4px solid #168199;
    padding-top: 20px;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 29px;
    margin-left: 10px;
    margin-right: 10px;

}
.left_articlesection ul{
    list-style: square;

}
.left_articlesection ul li{
    width: 350px;
    min-height: 30px;
    /* background: rgb(199, 199, 199); */
    /* margin-bottom: px; */
    border-bottom: 1px solid #168199;
    /* padding: 10px; */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    
    
}
.material-symbols-outlined{
    width: 30px;
    float: left;
    font-size: 10px;
    height: 10px;
}
.left_articlesection ul li a{
    text-decoration: none;
    color: black;
    text-align: justify;
    display: block; 
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;

}
.right_articlesection{
    width: 1050px;
    height: auto;
    /* border: 1px solid yellow; */
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    background: white;
    margin-top: 20px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    min-height: 920px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
 
}
.bottomadvertise{
    width: 1050px;
    height: 250px;;
    /* border: 1px solid yellow; */
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 420px;
    background: white;
    margin-top: 0px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    /* min-height: 920px; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
   
 
}
.article{
    min-height: 470px;
    margin-bottom: 30px;
    text-align: justify;
    /* border: 1px solid red; */
    padding-left: 20px;
    padding-right: 20px;
}
.left_button{
    width: 50%;
    float: left;
}
.lrbtn{
    width: 90px;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    text-decoration: none;
    color: white;
    background: #168199;
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Hind Siliguri', sans-serif;
}
.sp{
    padding-top: 10px;
}
.subh2{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}
.right_button{
    float: right;
}
.news_logo{
    width: 100px;
    height: 100px;
    margin-left: 130px;
    margin-top: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid red;
    border-radius: 50%;
}
.logo{
    width: 90%;
    margin-left: 15px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 0px 1px 2px 1px rgb(114, 114, 114);
    

}
.home{
    background: #D8550C;
    color: white;
    height: 25px;
    border-radius: 10px;
    line-height: 25px;
    margin-top: 10px;
}

.tagsection{
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    /* margin-top: 50px; */
}
.black{
    color: black;
}
.tagsection ul{
    list-style: none;
}
.tagsection ul li{
    width: auto;
    float: left;
    /* padding: 20px; */
}
.tagsection ul li a{
    text-decoration: none;
    /* color: black; */
    display: block;
    width: auto;
    padding: 10px;
    font-family: 'Hind Siliguri', sans-serif;
}
.tagsectionleft{
    width: 70%;
    float: left;
    /* border: 1px solid red; */
}
.tagsectionright{
    width: 27%;
    float: right;
    /* border: 1px solid red; */
    /* margin-left: 20px; */
}
.article_banner_img{
    width: 1030px;
    height: 350px;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 2px 1px rgb(114, 114, 114);
    
    
}
.tagsection input[type=text]{
    width: 250px;
    height: 30px;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 5px;
    border: 1px solid rgb(99, 99, 99);
    
}
.newsletter input[type=email]{
    width: 300px;
    height: 40px;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 5px;
    border: 1px solid rgb(99, 99, 99);
}
.newsletter input[type=submit]{
    width: 300px;
    height: 40px;
    margin-top: 5px;
    margin-left: 25px;
    border-radius: 5px;
    background: #168199;
    color: white;
    border: 1px solid #168199;
    border: 1px solid rgb(99, 99, 99);
}
.tagsection input[type=submit]{
    width: 80px;
    height: 30px;
    margin-top: 20px;
    margin-left: 5px;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
    background: #168199;
    border: 1px solid #168199;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px rgb(114, 114, 114);

    color: white;
    
}
.advertisesection{
    margin-top: 20px;
    background: rgb(255, 255, 255);
    width: 350px;
    height: 600px;
    border-radius: 10px;
    float: left;
    margin-left: 30px;
    box-shadow: 0px 1px 2px 1px rgb(114, 114, 114);

    /* border: 1px solid black; */
    padding-bottom: 20px;
    overflow: hidden;
    margin-bottom: 30px;
}
.newsletter{
    margin-top: 20px;
    background: rgb(255, 255, 255);
    width: 350px;
    height: 300px;
    border-radius: 10px;
    float: left;
    margin-left: 30px;
    box-shadow: 0px 1px 2px 1px rgb(114, 114, 114);

    /* border: 1px solid black; */
    padding-bottom: 20px;
    overflow: hidden;
}


.showQuiz{
    width: 1920px;
    min-height: 1000px;
    /* border: 1px solid red; */
    overflow: hidden;

}
.mainShowQuiz{
    width: 1366px;
    min-height: 1000px;
    /* border: 1px solid red; */
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    background: rgb(239, 239, 239);
    padding-bottom: 100px;

    
}
.quizTitle{
    margin-top: 20px;
    width: 100%;
    padding-left: 0px;
    /* border: 1px solid red; */
    float: left;
    position: relative;
    
}
.timer{
    padding-top: 15px;
    position: relative;
    left: 20px;
    color: red;
    font-weight: bold;

}
.quizDetails{
    height: auto;
    top: 30px;
    text-align: justify;
    padding-right: 20px;
    margin-top: 30px;
  position: relative;
    /* border: 1px solid red; */

}
.quizQuestion{
    width: 800px;
    height: auto;
    /* border: 1px solid red; */
    margin: 0 auto;
    /* text-align: center; */
    margin-top: 40px;
    background: rgb(255, 255, 255);
    padding-left: 20px;
    border-radius: 10px; 
    box-shadow: 5px 5px 2px 2px rgb(193, 189, 189); 
    padding-bottom: 50px;  
}
.quiz{
    margin-top: 50px;
    display: block;
}
.question{
    margin-top: 20px;
    font-size: 19px;
    margin-bottom: 20px;
    padding-top: 20px;
}
#next{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background: #03203C;
    color: white;
    margin-top: 50px;
    margin-left: 0px;
    display: block;
    text-align: center;
    line-height: 30px;
    text-decoration: none;

}
.none{
    display: none;
}
.submit{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background: #03203C;
    color: white;
    top: -30px;
    margin-left: 200px;
    position: relative;
}