<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Login-Panel</title>
    <link rel="stylesheet" href="/style/HomeStyle.css">
</head>

<body style="background-color: #F1F2F3">
  
    <div class="admin_login_form">
        <h2 class="admin_login_h2">Admin Login</h2>
    <form action="/admin/login" method="post">
        <input class="admin-login-email" type="text" name="email" placeholder="Enter Email Address" >
        <input class="admin-login-password" type="password" placeholder="********" name="password">
        <input type="submit" value="Log in" class="admin_login_submit">


    </form>
   
        <% if (messages === null ) { %>
            <% } else { %>
                <script>
                     alert("<%= messages %>")
                </script>
           <% } %>
</div>

</body>
</html>