<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/HomeStyle.css">
    <title>TutorialHubs-Home</title>
</head>
<body>
<div class="header">
    <div class="main_header">
        <div class="left_header">
            <b>TutorialHubs</b>
        </div>
        <div class="right_header">
            <div class="menu ">
                <div class="menu-style">
                <ul>
                    <li class=" "><a href="/">Home</a></li>
                    <li><a href="">Courses</a></li>
                    <li><a href="">Shop</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="">Color Picker</a></li>
                    <li><a class="a_log" href="/register">Register/Login</a></li>
                </ul>
            </div>
            </div>
        </div>
    </div>


</div>