<div class="left_container">
    <div class="left_container_list">
        <ul>
            <li><a class="dashboard" href="/admin/dashboard">Dashboard</a></li>
            <li><a href="/admin/addcategory">Add Category</a></li>
            <li><a href="/admin/addsubject">Add Subject</a></li>
            <li><a href="">Create Course</a>
                <div class="sub_list">
                <ul>
                    <li><a href="/admin/course/addcoursedetails">Add Course/Details</a></li>
                    <li><a href="">Add Video From Link</a></li>
                    <li><a href="/admin/course/addvideo">Upload Video</a></li>
                
                </ul>
            </div>
        
            </li>
            <li><a href="">Instructors</a>
                <div class="sub_list">
                    <ul>
                        <li><a href="/admin/addinstructor">Add Instructor</a></li>
                        <li><a href="/admin/showinstructor">Show Instructor</a></li>
                       
                    
                    </ul>
                </div>
            </li>
            <li><a href="">Article</a>
                <div class="sub_list">
                    <ul>
                        <li><a href="/admin/addarticledetails">Add Article Details</a></li>
                        <li><a href="/admin/addarticle">Add Article</a></li>
                        <li><a href="/admin/showarticle">Show Article</a></li>
                       
                    
                    </ul>
                </div>
            </li>
            <li><a href="">Quiz</a>
                <div class="sub_list">
                    <ul>
                        <li><a href="/admin/addquizdetails">Add Quiz Details</a></li>
                        <li><a href="/admin/addquizquestion">Add Quiz Question</a></li>
                        <li><a href="/admin/showarticle">Show Quiz</a></li>
                       
                    
                    </ul>
                </div>
            </li>

            <li><a href="">Users</a>
                <div class="sub_list">
                    <ul>
                        <li><a href="/admin/adduser">Add User</a></li>
                        <li><a href="/admin/showuser">Show Users</a></li>
                       
                    
                    </ul>
                </div>
            </li>

            <li><a href="">Settings</a></li>


        </ul>
    </div>
</div>